@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&family=EB+Garamond:wght@500&family=Nunito&family=Poppins:wght@300&family=Source+Code+Pro:wght@500&family=Source+Sans+Pro&family=Source+Serif+4&family=Titillium+Web&display=swap');

body{
    padding: 20px 70px;
}
h2{
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 400px;
    font-family: 'Source Sans Pro', sans-serif; 
    color:gray; 
    display: inline-block;
}
.line{
    display: inline-block;
    position: relative;
    left: 5px;
    bottom: 3px;
    background-color: #55FF18;
    width: 120px;
    height: 2px;
    border-radius: 50px;
}

.Heading-intern h1{
    letter-spacing: -1px;
    font-size: 45px;
    font-weight: 700;
    margin:0px 0px;
    font-family: 'Work Sans', sans-serif; 
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    padding: 7px 0px;
}
.content{
    display: flex;
    flex-direction: row;
}
.left-content{
    width: 49%;
    margin-right: 28px;
}
.right-content{
    width: 49%;
    margin-left: 28px;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
}
#boys{
    height: auto;
    width: 100%;
}
tr:nth-child(even) td{
    
    background-color: #D3D3D3;
}
.vacancy{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    height: 200px;
    width: 100%;
    border: 2px solid;
    border-color: #D3D3D3;
}
.tick{
    width: 20px;
    height: auto;
}

th {
    background-color: #53e053;
    color: white;
    text-align: center;
}

th,td{
    text-align: center !important;
    padding: 12px !important;
}

.button {
  background-color: white ;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  text-align: center;
  margin: 4px 2px;
  padding: 2px 22px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn-learn{
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 18px;
    background: #53e053;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: max-content;
  }
  
  .btn:hover {
    background: #56cc5f;
    text-decoration: none;
  }
  @media only screen and (max-width: 600px) {
    .content{
        display: inline;
        
    }
    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }
    p{
        width: fit-content;
    }
  }

.navbar{
    background-color: white;
}
h3{
    margin-bottom: 10px !important;
}